{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ae Malves - Contato {% endblock %}
{% block body %}
<main role="main">
    <div class="container mt-3" align="center">
        <section class="container mt-5 mb-5">
            <div class="card border-success mb-3" align="left" style="max-width: 19rem;">
                <div class="card-header">Horário de Atendimento</div>
                <div class="card-body text-success">
                    <h5 class="card-title"></h5>
                    <ul>
                        {% for horario in horarios %}
                        <li>{{ horario.dia }} das {{horario.abre}}h ás {{horario.fecha}}h</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <!-- Botão Whatsapp -->
        <a href="https://api.whatsapp.com/send?phone=5511984240935&text=Olá, Gostaria de informações"
           target="_blank"
           style="position:fixed;bottom:20px;right:30px;">
            <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
                 xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z" fill="#4CAF50"/>
                <path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                      fill="#FAFAFA"/></svg>
        </a>
        <!--&lt;!&ndash; Localização google maps &ndash;&gt;
        <div class="container mt-4 mb-5" align="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.5187390501915!2d-46.77834238559376!3d-23.65740027102976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce53bcc52e242f%3A0x440510294e93e5e7!2sAuto%20Escola%20Malves!5e0!3m2!1spt-BR!2sbr!4v1624801209206!5m2!1spt-BR!2sbr"
                    align="middle" width="600" height="450" style="border:0;" allowfullscreen=""
                    loading="lazy"></iframe>
        </div>-->
    </div>

    <section>
        <div class="container mb-5" align="center">
            <hr class="my-2">
            <h6 class="mb-4 mt-5"><strong>Envie sua dúvida, sugestão ou reclamação, que em breve entraremos em
                contato. </strong></h6>
            <!--            <form action="" method="post">-->
            <!--                {% csrf_token %}-->
            <!--                {{ form|crispy }}-->
            <!--                <br>-->
            <!--                <input type="submit" value="Enviar">-->
            <!--            </form>-->
            <form action="" method="post" id="form">
                <div id="div_id_email" class="form-group"><label for="id_email" class=" requiredField">
                    Email<span class="asteriskField">*</span> </label>
                    <div class=""><input type="email" name="email" maxlength="254" class="emailinput form-control"
                                         required="" id="id_email"></div>
                </div>
                <div id="div_id_assunto" class="form-group"><label for="id_assunto" class=" requiredField">
                    Assunto<span class="asteriskField">*</span> </label>
                    <div class=""><input type="text" name="assunto" maxlength="255"
                                         class="textinput textInput form-control" required="" id="id_assunto"></div>
                </div>
                <div id="div_id_mensagem" class="form-group"><label for="id_mensagem" class=" requiredField">
                    Mensagem<span class="asteriskField">*</span> </label>
                    <div class=""><textarea name="mensagem" cols="40" rows="10" class="textarea form-control"
                                            required="" id="id_mensagem"></textarea></div>
                </div>

                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </section>
    <div class="container mb-5">
        <ol><strong>Lembramos que alguns cuidados pessoais são de extrema importância neste momento.</strong>
            <li> Evitar aglomerações;</li>
            <li> Lavar as mãos com água e sabão ou passar álcool em gel;</li>
            <li> Não levar as mãos aos olhos, boca e nariz;</li>
            <li> Cobrir a boca e nariz ao tossir ou espirrar;</li>
            <li> Não compartilhar objetos;</li>
            <li> Garantir que os ambientes estejam ventilados;</li>
        </ol>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script>
        let form = document.getElementById('form'); // get the form

        function apagaForm() {
	        document.getElementById('id_assunto').value = '';
	        document.getElementById('id_mensagem').value = '';
	        document.getElementById('id_email').value = '';
        }

        form.addEventListener('submit', function(event) {
            event.preventDefault()

            let data = new FormData();

            data.append("assunto", document.getElementById('id_assunto').value)
            data.append("mensagem", document.getElementById('id_mensagem').value)
            data.append("email", document.getElementById('id_email').value)
            data.append("csrfmiddlewaretoken", '{{ csrf_token }}')

            axios.post('create_contact/', data)
            .then(res => {
                alert("Suas informações de contato e mensagem foram enviadas com sucesso!")
                apagaForm();
            })
            .catch(error => console.log(error))

        })

    </script>
</main>
{% endblock %}