{% extends 'base/base.html'%}
{% load static %}
{% block title %} Ae Malves - Serviços {% endblock %}

{% block body %}

    <div class="container">
            <h2> SERVIÇOS</h2>
        <p> Serviços que oferecemos e como funciona o processo.</p>
			 <!-- Three columns of text below the carousel -->
			<div class="row justify-content-end">
			  <div class="col-lg-3">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/Moto.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
				<h2>Categoria A</h2>

				  <ul><p><b>MOTO</b></p>
					 <li> Pré-cadastro</li>
					 <li> Exame médico</li>
					  <li> CFC teórico</li>
					  <li> Prova teórica</li>
					  <li> 	20 aulas práticas</li>
					  <li> 	Prova prática</li>
					  <li>  Emissão CNH</li>
				  </ul>
				<!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg-3">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/Mobi.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

				<h2>Categoria B</h2>

				  <ul><p><b>CARRO</b></p>
					 <li> Pré-cadastro</li>
					 <li> Exame médico</li>
					  <li> CFC teórico</li>
					  <li> Prova teórica</li>
					  <li> 	20 aulas práticas</li>
					  <li> 	Prova prática</li>
					  <li>  Emissão CNH</li>
				  </ul>
				<!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
			  </div>
				<!-- /.col-lg-4 -->
			  <div class="col-lg-4">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/CarroMoto.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

				<h2>Categoria AB</h2>

				  <ul><p><b>CARRO E MOTO</b></p>
					 <li> Pré-cadastro</li>
					 <li> Exame médico</li>
					  <li> CFC teórico</li>
					  <li> Prova teórica</li>
					  <li> 	40 aulas práticas</li>
					  <li> 	Provas práticas</li>
					  <li>  Emissão CNH</li>
				  </ul>


            </ul>
            </div>
            </div>
        <hr class="my-4">
        <div class="row justify-content-end">
			  <div class="col-lg-3">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/Moto.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
				<h2>CNH Suspensa</h2>

				  <ul><p><b></b></p>
					 <li> Cumprimento penalidade</li>
					 <li> Curso de reciclagem</li>
					  <li> Agendamento renovação</li>

				  </ul>
				<!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg-3">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/Mobi.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

				<h3>Aula Particular</h3>

				   <ul><p><b></b></p>
					 <li> Instrutor credenciado</li>
					 <li> Aulas no trânsito</li>
					  <li> Vença o medo</li>
					  <li> 50 minutos aula</li>
					  <li> 	Pacotes de aula</li>

				  </ul>
				<!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
			  </div>
				<!-- /.col-lg-4 -->
			  <div class="col-lg-4">
				<img class="bd-placeholder-img rounded-circle" src="{% static 'img/CarroMoto.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

				<h2>Reabilitação AB</h2>

				  <ul><p><b></b></p>
					 <li> Pré-cadastro</li>
					 <li> Exame médico</li>
					  <li> Prova teórica</li>
					  <li> 	Provas práticas</li>
					  <li>  Emissão CNH</li>
				  </ul>


</ul>
</div>
            </div>
    </div>
{% endblock body %}