.main-footer{
    background-color: #F9C80E;
}

.rights{
    background-color: #FFAE03;
}

.icones{
    color: white !important;
    padding-left:8px;
    padding-bottom:5px;
}

html{
    scroll-behavior: smooth;
}