{% extends 'base/base.html' %}

{% block body %}
{% for post in postagens %}
<div class="container">
<article>
  <header>
    <h2>
      <a href="{{ post.get_absolute_url }}"> {{ post.titulo }} </a>
    </h2>
    <p>Publicado em <time datetime="2021-04-12T13:00:24+01:00">{{ post.criado }}</time> por <a href="#">{{ post.autor }}</a> - <a href="#comments">30 comentários</a></p>
  </header>
  <p>{{ post.corpo|truncatewords:30|linebreaks }}<a href="https://jornaldocarro.estadao.com.br/servicos/nova-lei-de-transito-entra-hoje-em-vigor-veja-as-10-mudancas-no-ctb/" target="_blank"> clique aqui.</a></p>
  <br>
</article>
</div>
{% endfor %}

{% endblock %}