html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.cont{

    overflow:float;
    width: 350px;

  }

p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
}

.main-footer{
 display: table-row;
    height: 0;
    background-color: #F9C80E;
    background: -webkit-gradient(linear, left top, right top, from(#F9C80E), to(#FFAE03)) no-repeat;
     background: -moz-linear-gradient(left, #F9C80E, #FFAE03);
     filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#F9C80E', EndColorStr='#000000');

}

.rights{
    background-color: #FFAE03;
}

.icones{
    color: white !important;
    padding-left:8px;
    padding-bottom:5px;
}

.titulos{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 700;
}

html{
    scroll-behavior: smooth;
}


.corNav{
    background-color: #9933cc;
}


.botao{
    background-color: #9933cc;
    color: white;
    padding: 8px;
    border-radius: 15px;
    transition: 0.2s;
}

.botao:hover{
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid yellow;
}

.link {
    text-decoration: none;
    color: black;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}